body{
    display:flex;
    flex-direction:column;
    font-family:"Roboto";
    margin:0;

}

.header{
    display:flex;
    flex-direction:column;
    align-items:center;

    background-color:#1F2937;
}

.header1{
    width:70%;
    margin-bottom:5%;

}

.top{
    display:flex;
    justify-content:space-between;
    padding-top:15px;
}

.top h3{
    font-size:24px;
    color:#F9FAF8;
    margin:0;

    font-weight:600;
}

.links{
    display:flex;
    gap:15px;
    align-items:center;
}

.links a{
    font-size:18px;
    color:#E5E7EB;
}

a{
    text-decoration:none;
}

.introl h1{
    font-size:48px;
    color:#F9FAF8;
    font-weight:800;
}

.introl p{
    font-size:18px;
    color:#E5E7EB;
}

.intro button{
    background-color:#3882F6;
    border-radius:4px;
    border:transparent;
}

.intro{
    display:flex;
    padding:80px 0;
    margin-top:3%;
}

.introl{
    width:45%;
}

.intror .box1{
    height:100%;
    display:flex;
    align-items:center;
}

.intror .img{
    display:flex;
    background-color:rgba(156, 156, 156, 0.652);

    align-items:center;
    justify-content:center;

    color:#E5E7EB;
    width:90%;
    height:100%;
}

.introl button{
    width:30%;
    height:18%;

    font-size:18px;
    font-weight:900;
    color:white;
    margin-top:5px;
}

.introl h1, .introl p{
    margin:0;
    padding:5px 0;
}

.intror{
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;
    width:55%;
}

.content{
    display:flex;
    flex-direction:column;
}

.presentation{
    display:flex;
    flex-direction:column;
    align-items:center;

}

.presentation h1{
    margin-top:50px;
    font-size:36px;
    color:#1F2937;
    font-weight:bold;
}

.picture{
    display:flex;
    gap:70px;
    width:59%;

    margin-top:25px;
    margin-bottom:90px;
}

.picture div{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    
    height:240px;

}

.picture div img{
    width:100%;
    height:100%;

    border:solid 4px rgb(78, 120, 245);
    border-radius:10%;
}

.picture div p{
    padding:10px 0;
    margin:0;

    
}

.imgbox{
    width:100%;
    height:100%;
}

.quote{
    background-color:#E5E7EB;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:430px;
}

.quotetext{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:61%;
}

.text p{
    font-size:36px;
    font-style:italic;
    color:#1F2937;
    font-weight:lighter;
    margin:0;
}

.author p{
    font-weight:bold;
    font-size:23px;
    margin:0;
    text-align:right;
}

.author{
    width:98%;
}

.login{
    display:flex;
    align-items:center;
    justify-content:center;

    height:300px;
}

.box{
    display:flex;
    align-items:center;
    justify-content:space-between;

    border:transparent;
    border-radius:5px;
    height:50%;

    background-color:#3882F6;


    width:75%;
}

.left{
    display:flex;
    flex-direction:column;

    margin-left:10%;
}

.left p{
    margin:0px;
}

.toptext{
    font-size:23px;
    color:#F9FAF8;
    font-weight:900;
}

.bottext{
    font-size:16;
    color:#dcdcde;
    font-weight:300;
}

.right{
    display:flex;
    margin-right:10%;
}

.right button{
    border:solid 2px #F9FAF8;
    background-color:#3882F6;

    color:#E5E7EB;
    font-size:18px;

    padding:6px 30px;
    border-radius:5px;
}

.footer{
    background-color:#1F2937;

    height:100px;
}

.footer p{
    display:flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
    margin:0;

    color:#E5E7EB;
    font-size:18px;

}

